In [1]:
import pandas as pd
import os
import FinanceDataReader as fdr

In [2]:
list_name = 'data/Stock_List.csv'
stock_list = pd.read_csv(list_name)
stock_list['종목코드'] = stock_list['종목코드'].apply(lambda x : str(x).zfill(6))
stock_list

          종목명    종목코드    상장시장
0        삼성전자  005930   KOSPI
1      SK하이닉스  000660   KOSPI
2       NAVER  035420   KOSPI
3         카카오  035720   KOSPI
4    삼성바이오로직스  207940   KOSPI
..        ...     ...     ...
365      맘스터치  220630  KOSDAQ
366        다날  064260  KOSDAQ
367   제이시스메디칼  287410  KOSDAQ
368   크리스에프앤씨  110790  KOSDAQ
369     쎄트렉아이  099320  KOSDAQ

[370 rows x 3 columns]

In [3]:
start_date = '20050101'
end_date = '20201231'
sample_code = '005930'
stock = fdr.DataReader(sample_code, start = start_date, end = end_date)
stock

             Open   High    Low  Close    Volume    Change
Date
2005-01-03   9050   9060   8920   9020    218558  0.001110
2005-01-04   9000   9020   8920   8940    280347 -0.008869
2005-01-05   8800   8860   8730   8860    467322 -0.008949
2005-01-06   8780   8910   8700   8700    343063 -0.018059
2005-01-07   8820   8830   8710   8810    272369  0.012644
...           ...    ...    ...    ...       ...       ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

[3957 rows x 6 columns]